$white: #ffffff;
$light: #d4f8f3;
$bright: #85eee2;
$medium: #0e9f96;
$dark: #0c6561;
$darker: #064b47;
$black: #03040b;
$gray: #707070;
$transparent: rgba(0, 0, 0, 0.11);
$body: #fbfbfb;
$shadow: 0 2px 4px 0px $transparent;
$hover: darken($light, 2%);
